@model Timeline;
<!-- https://codepen.io/cjl750/pen/mXbMyo -->
<!-- http://freefrontend.com/css-timelines/#horizontal-timelines -->





@section Styles {
<link rel="stylesheet" type="text/css" href="dynamicTimelineStyle.css">
}



<h2>@Model.Title</h2>
<h3>Creation Date: @Model.GetDateTime().ToString("g")</h3>
@Html.ActionLink("Create New Event", "CreateEvent", "Event", new { Id = Model.Id }, new { @class = "modal-link btn btn-primary btn-large" })
<br />
<br />

@if (Model.TimelineEvents.Count == 0)
{
    <div class="timeline-wrapper">
        <div class="timeline-area">
            <h2>There are no events on this timeline!</h2>
            <h3>Press "Create New Event" to add a new event!</h3>
        </div>
    </div>
}
else
{
    <div class="timeline-wrapper">

        <div class="timeline-ruler"></div>
        <div id="line"></div>
        <div class="timeline-area">

            @foreach (var x in Model.TimelineEvents)
            {

                <div class="event" id="@x.Id">
                    <div class="event-content">
                        <h4>@x.Title</h4>
                    </div>
                    <div class="event-date">
                        <h4>@x.GetDateTime(x.EventDateTime).ToString("g")</h4>
                    </div>
                </div>

            }
        </div>
    </div>
}







