@model IP3Project.Models.Event

<div>
    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventDateTime)
        </dt>
        <dd>
            @Model.GetDateTime(Model.EventDateTime);
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>




        </dd>
    </dl>

<div>
        @Html.DisplayNameFor(model => model.Attachments)
    <br />
        @Html.ActionLink("Add Attachment", "UploadAttachmentView", "Event", new { id = Model.Id }, new { @class = "modal-link" })
    
    
        @if (Model.Attachments.Any())
        {
            foreach (var x in Model.Attachments)
            {
                <div>
                    @Html.ActionLink(x.Title, "DownloadAttachment", "Attachment", new { fileName = x.Title })
                </div>
            }
        }
        else
        {
            <div>
                <i>No Attachments</i>
            </div>
        }
</div>


<br />
<div>
    @Html.ActionLink("Delete", "DeleteEvent", new { Id = Model.Id })
</div>
