@model IP3Project.Models.Event


<div class="loader-img">
    <img src="~/images/ajax-loader.gif" alt="Loading..."/>
</div>

<div class="event-view-box">

    <h1>@Html.DisplayFor(model => model.Title) @Html.ActionLink("", "EditTitle", new { Id = Model.Id, Title = Model.Title }, new { @class = "modal-link glyphicon glyphicon-edit crud-icon" })</h1>
    <hr />

    <div>
        <h3>Date/Time: @Html.ActionLink("", "EditDate", new { Id = Model.Id, Date = Model.EventDateTime }, new { @class = "modal-link glyphicon glyphicon-edit crud-icon" })</h3>
        @Model.GetDateTime(Model.EventDateTime).ToString("g")

        <h3>Description: @Html.ActionLink("", "EditDescription", new { Id = Model.Id, Description = Model.Description }, new { @class = "modal-link glyphicon glyphicon-edit crud-icon" })</h3>
        @Html.DisplayFor(model => model.Description)

    </div>

    <hr />
    <h3>
        Location @Html.ActionLink("", "EditLocation", new { Id = Model.Id, Location = Model.Location }, new { @class = "modal-link glyphicon glyphicon-edit crud-icon" })

        @{ if (Model.Location != null)
        {
           @Html.ActionLink("", "RemoveLocation", new { Id = Model.Id }, new { @class = "glyphicon glyphicon-trash crud-icon" })
    }
        }
    </h3>

    <br />
    @Html.DisplayFor(model => model.Location)

    @{if (Model.Location != null)
        { <div id="mapDisplay"></div>} }


    <hr />


    <br />
    <h3>@Html.DisplayNameFor(model => model.Attachments)</h3>
    <div class="attachment-box">
        @Html.ActionLink("Add Attachment", "UploadAttachmentView", "Event", new { id = Model.Id }, new { @class = "modal-link btn btn-primary btn-large" })
        <br />
        @if (Model.Attachments.Any())
        {
            <hr />
            <h4>Click on a file name to download the attachment</h4>
            foreach (var x in Model.Attachments)
            {
            <div class="file-wrapper">
                <div class="attachment-file">
                    <div class="file-thumbnail">
                        <!--If we can figure out thumbnails for files, we would put it here-->
                        <div class="glyphicon glyphicon-file"></div>
                    </div>
                    @Html.ActionLink(x.Title, "DownloadAttachment", "Attachment", new { fileName = x.Title })
                </div>
                @Html.ActionLink(" ", "DeleteAttachment", "Attachment", new { Id = x.AttachmentId, EventId = Model.Id }, new { @class = "glyphicon glyphicon-trash" })
            </div>

            }
            <hr />
        }
        else
        {
            <div>
                <i>No Attachments</i>
            </div>
        }
    </div>

    <div class="danger-zone">
        <h3>WARNING - Danger Zone</h3>
        @Html.ActionLink("Delete Event", "DeleteEvent", "Event", new { Id = Model.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure you wish to delete this Event?');" })
    </div>

</div>





@{if (Model.Location != null)
    {

        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGImu3qnFL__9nvtpMtMcfJkXjc9kCg8A&libraries=places&callback=initMap"
                type="text/javascript"></script>

        <script type="text/javascript">
    var lat = @Model.Location.Split(",").First();
    var lng = @Model.Location.Substring(Model.Location.IndexOf(",")+1);

    function initMap() {
        var lat_lng = { lat: lat, lng: lng};

        var map = new google.maps.Map(document.getElementById('mapDisplay'), {
            zoom: 5,
            center: lat_lng
        });

        var marker = new google.maps.Marker({
            position: lat_lng,
            map: map
        });
    }
        </script>



    } }

