@model IP3Project.Models.EventList


<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <h4>TimelineEventsViewModel</h4>
        <hr />
        @foreach (Event x in Model.Events)
        {
            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => x.Id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => x.Id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => x.Title)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => x.Title)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => x.Description)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => x.Description)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => x.DateTime)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => x.DateTime)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => x.Location)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => x.Location)
                    </dd>
                </dl>
            </div>
            <div>
                @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
                <a asp-action="Index">Back to List</a>
            </div>
        }
        </div>
</div>