@using X.PagedList.Mvc; 
@using X.PagedList;

<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div class="container">
    <div class="row h-100 justify-content-center align-items-center">
        <br />

        <form asp-action="Timelines" method="get">
            <div class="form-actions no-color">
                <p>
                    Search by Title: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <a asp-action="Timelines">Display All</a>
                </p>
            </div>
        </form>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 50%; font-size:16pt" scope="col"><a asp-action="Timelines" asp-route-sortOrder="@ViewData["NameSortParm"]">Title</a></th>
                    <th style="font-size:16pt" class="text-center" scope="col"><a asp-action="Timelines" asp-route-sortOrder="@ViewData["DateSortParm"]">Date/Time</a></th>

                    <th class="text-right" scope="col">@Html.ActionLink("Create New", "CreateTimeline", "Timeline", null, new { @class = "modal-link btn btn-primary btn-large" })</th>
                </tr>
            </thead>


            <tbody>


                @foreach (var x in ViewBag.OnePageOfProducts)
            {

                <tr class="clickable-tr">
                    <!--The entire <tr> needs to be made clickable so we can go to the timeline, can do this with jQuery/JS.-->
                    <td scope="row">@Html.ActionLink((string)x.Title, "TimelineView", "Event", new { Id = x.Id }, null)</td>
                    <td class="text-center"> @x.GetDateTime()</td>
                    <td class="text-right">

                        <div class="dropdown">
                            <div class="dropbtn glyphicon glyphicon-cog"></div>
                            <div class="dropdown-content">
                                @Html.ActionLink("Edit", "Edit", "Timeline", new { Id = x.Id, Title = x.Title }, new { @class = "modal-link" })
                                @Html.ActionLink("Delete", "Delete", new { Id = x.Id })
                            </div>
                        </div>
                    </td>
                </tr>


        }



            </tbody>
        </table>
        @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Timelines", "Timeline", new { page = page }))
        <div id="modal-container" class="modal fade">
            <div class="modal-content">
            </div>
        </div>


    </div>
</div>


